@import "/home/pigatronee/.cache/wal/colors.scss";

.control-panel{
  border-radius: 15px;
}


/* Root layout */
.layout-box {
  background: $background;
  padding: 8px;
}

/* Each vertical strip */
.layout-box-1,
.layout-box-2,
.layout-box-3,
.layout-box-4 {
  background: $background;
  border: 1px solid $color2;
  padding: 6px;
}

/* Scale styling */


.music-slider slider {
  background-color: $foreground;
  min-height: 19px;
  min-width: 19px;
}



/* Test button */
.test_button,
.wifi-button{
  background: $color2;
  border-radius: 6px;
  padding: 6px;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  color: $foreground;
  font-weight: bold;

  &:hover {
    background: $color3;
  }

  &:active {
    background: $color3;
  }
}

