@import "/home/pigatronee/.cache/wal/colors.scss";

.volume-bar {
  background-color: $background;
  border-radius: 20px;
  padding: 6px;  // thickness ≈ 12px

}

.volume-slider {
  min-width: 120px;
  padding: 20px;
}

.volume-slider slider {
  background-color: $foreground;
  min-height: 20px;
  min-width: 20px;
}
