@import "/home/pigatronee/.cache/wal/colors.scss";

.volume-bar {
  background-color: rgba($background, 0.99);
  border-radius: 20px;
  padding: 6px;
}


.volume-slider {
  min-width: 120px;
  padding: 20px;
}

.volume-slider slider {
  background-color: $foreground;
  min-height: 20px;
  min-width: 20px;
}
