@import url("file:///home/Pigatronee/.cache/wal/colors-waybar.css");
:root {
  --border-radius: 22px;
  --cc-bg: transparent;

  --widget-background: @background;
  --noti-bg-alpha: 0.6;

  --border-width: 3px;
  --border-color: @color2; 
  --border: var(--border-width) solid var(--border-color);

  --padding: calc(var(--border-radius) / 2);
}

.control-center {
  border-radius: 0;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius) / 2);
  border: var(--border);
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.notification-group {
  border-radius: var(--border-radius);
  padding: 8px;
}

.widget.widget-mpris {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: rgba(46, 46, 46, 1);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}
